# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/

# Data & outputs
data/
outputs/
mlruns/
mlflow/
prometheus/

# Models
models/
ml_models/
*.pth
*.h5
*.ckpt

# Django
db.sqlite3
staticfiles/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large media
*.mp4
simulator/static/simulator/video/
